/* Estilos globales */
body {
    /*Imagen de fondo URL*/
    background-image: url(https://cdn.pixabay.com/photo/2019/06/20/09/26/underwater-4286600_1280.jpg);
    background-repeat: no-repeat;
    background-size: 1309px;
    margin: 0; /*Elimina las márgenes*/
    padding: 0; /*Elimina el relleno*/
    background-color: #f4f4f4; /*Establece el color del fondo*/
    color: #005187 /*Establece el color del fondo*/
}



/* Estilo para el encabezado del artículo */
article header {
    background-color: #4d82bc; /*Color del fondo*/
    background-image: url(https://cdn.pixabay.com/photo/2021/09/03/16/30/clouds-6596174_1280.jpg);
    border-radius: 0px;
    padding: 0.3em 0;
    text-align: center;
    border: 2px solid darkblue;
}

/* Títulos */
h2 {
    margin-bottom: 1em;
    color: #00001a; 
    text-shadow: 0 0 33px darkblue; 
    font-size: xx-large;
    
}

h1 {
    margin-bottom: 10px; /*Margen inferior al 55px*/
    margin-top: 5px;
    color: lightblue;
    font-size: 111px;
    font-family:fantasy;
    text-shadow: 0 11px #00001a;
    text-align: center;
}


/* Fecha del artículo*/
article header time {
    margin-bottom: 0px;
    color: #f4f4f4;
}

/* Estilos para las secciones (Subtítulo del artículo)*/
section {
    background-color: #84b6f4;
    border: tan;
    margin: 5em;
    padding: 1em;
    border-radius: 9px;
    border: 9px solid darkblue;
    box-shadow: 0 0 66px white
}

/* Estilos para listas */
ul {
    padding-left: 20px;
}

ul ul {
    list-style-type: circle;
}

/*Muestra el subfondo de Formulario de Contacto*/
form {
    background-color: #c4dafa;
    padding: 1em;
    border-radius: 8px;
    border: 3px solid #75c7ff;
}


/*Segunda*/
form label {
    display: block;
    margin-bottom: 0.5em;
    
}

form input[type="text"],
form input[type="email"],
form textarea { /*box model*/
    width: 97%;
    padding: 0.6em;
    margin-bottom: 1em;
    border: 2px solid darkblue;
    border-radius: 8px;
}

/*Boton de envío de Formulario de contacto*/
form input[type="submit"] {
    background-color: #005187;
    color: whitesmoke;
    border-color: aqua;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s;
    border: 2px solid #75c7ff;
}

/* Al pasar el ratón sobre el botón de envío*/
form input[type="submit"]:hover {
    /*Cambia el color de fondo al pasar el ratón sobre el botón*/
    background-color: green;
}

/*Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}


table, th, td {
    border: 2px solid darkblue;
}

/*Formato de la tabla de información*/
th, td {
    text-align: center;
    padding: 11px;
    color: white;
    column-span: all;
    
}

/*Cambia el color de fondo del encabezado de la tabla*/
thead {
    background-color: #007bff;
    color: #ddd
}



/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 600px) {
    body {
        background-color: #e3f2fd;
    }

    article header {
        padding: 0.5em 0;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
